
@model IEnumerable<IdentityRole>
@{

    ViewBag.Title = "Role List";
}

@if (Model.Any())
{

    <div class="col-md-3">
        <a class="btn btn-primary" href="CreateRole">Add Role</a>
        <br />
        <br />
        </div>

        @foreach (var Role in Model)
        {


            <div class="card" >

                <div class="card-header">
                    Role
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Role.Name</h5>
                </div>

                <div class="card-footer">
                    <a asp-action="EditRole" asp-controller="administrator" asp-route-id="@Role.Id" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <br />

        }
        }
        else
        {
        <div class="card">
            <div class="card-header">
                No roles created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a role
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="administrator" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>


        }








        @section Scripts

{
            <script src="~/js/CustomScript.js"></script>
        }
